* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
}

.login-box h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    margin-bottom: 30px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 0;
    color: #fff;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.3s ease;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
    top: -10px;
    font-size: 0.75rem;
    color: #ffcbcb;
}

.login-btn-container {
    margin-top: 20px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #ffcbcb;
    border: none;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 25px;
}

.login-btn:hover {
    background-color: #ff6363;
}

.forgot-password a {
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #ffcbcb;
}
