<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Menon Retail Ltd. - Login</title>
    <link href="../static/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="login-container">
    <!-- Store Name at the Top -->
    <h1 class="store-name">Menon Retail Ltd.</h1>

    <!-- Login Box -->
    <div class="login-box">
        <h2>Login</h2>
        <form action="/client/authenticate" id="loginForm" method="post"> <!-- Add action and method -->
            <div class="input-container">
                <input id="username" name="username" required type="text">
                <label for="username">Username</label>
            </div>
            <div class="input-container">
                <input id="password" name="password" required type="password">
                <label for="password">Password</label>
            </div>
            <div class="login-btn-container">
                <button class="login-btn" type="submit">Login</button>
            </div>
            <div class="forgot-password">
                <a href="#">Forgot Password?</a>
            </div>
        </form>
    </div>
</div>
<script src="scripts.js"></script>
</body>
</html>
